@import "../fonts/Fonts.css";

.text {
    -fx-font-smoothing-type: gray;
    -fx-font-family: "HarmonyOS Sans SC Bold";
}

.header-bar {
    -fx-background-color: #F5F5F5;
}

.header-bar.dark {
    -fx-background-color: #121212;
}

.header-bar .title-label {
    -fx-text-fill: black;
}

.header-bar.dark .title-label {
    -fx-text-fill: white;
}

.header-bar .theme-button {
    -fx-background-color: transparent;
}

.header-bar .theme-button:hover {
    -fx-background-color: #00000015;
}

.header-bar.dark .theme-button:hover {
    -fx-background-color: #ffffff15;
}

.header-bar .theme-button .light-icon {
    -fx-icon-color: #333333;
    -fx-icon-size: 16;
}

.header-bar .theme-button .dark-icon {
    -fx-icon-color: #EAEAEA;
    -fx-icon-size: 16;
}

.header-bar .pin-to-top-button {
    -fx-background-color: transparent;
}

.header-bar .pin-to-top-button:hover {
    -fx-background-color: #00000015;
}

.header-bar.dark .pin-to-top-button:hover {
    -fx-background-color: #ffffff15;
}

.header-bar .pin-to-top-button .pin-to-top-icon {
    -fx-icon-color: #333333;
    -fx-icon-size: 16;
}

.header-bar.dark .pin-to-top-button .pin-to-top-icon {
    -fx-icon-color: #EAEAEA;
}

.header-bar .pin-to-top-button:pinned .pin-to-top-icon {
    -fx-icon-color: dodgerblue;
}

.header-bar.dark .pin-to-top-button:pinned .pin-to-top-icon {
    -fx-icon-color: dodgerblue;
}

.header-bar .settings-button {
    -fx-background-color: transparent;
}

.header-bar .settings-button:hover {
    -fx-background-color: #00000015;
}

.header-bar.dark .settings-button:hover {
    -fx-background-color: #ffffff15;
}

.header-bar .settings-button .settings-icon {
    -fx-icon-color: #333333;
    -fx-icon-size: 16;
}

.header-bar.dark .settings-button .settings-icon {
    -fx-icon-color: #EAEAEA;
}


.combo-box .arrow-button {
    -fx-background-color: dodgerblue;
    -fx-opacity: 1;
}

.combo-box:hover .arrow-button {
    -fx-background-color: dodgerblue;
    -fx-opacity: 0.8;
}

.combo-box .arrow {
    -fx-background-color: white;
}

.combo-box > .list-cell {
    -fx-background-color: dodgerblue;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.combo-box:hover > .list-cell {
    -fx-background-color: dodgerblue;
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}

.combo-box .list-view .list-cell:focused {
    -fx-background-color: dodgerblue;
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: dodgerblue;
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}

.mfx-toggle-button {
    -fx-font-family: "HarmonyOS Sans SC Bold";
}
